#app {
	height: 100%;
	width: 100%;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 14px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           /* non-prefixed version, currently */
}


#panel{
	position: fixed;
	z-index: 5000;
	height: 100%;
	width: 220px;
	display: block;
	top:0;
	left: 0;
}

#panel-content {
    box-sizing: border-box;
	position: relative;
	left: 220px;
	width: 220px;
	height: 100%;
	top: 0;
	left: 0;
	transition: .6s ease-in-out;
	padding: 10px;
	overflow: auto;
	cursor: default;
}
#panel-content.hide {
	left: -220px;
}


#panel-content #logo {
	position: relative;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	border: 3px double #66c8ff;
	box-shadow: 0 0 12px #66c8ff;
	margin-bottom: 20px;
	width: 200px;
	text-align: center;
    height: 120px;
    background: transparent url('http://i.giphy.com/yrIRi67zxPmo.gif') 0px -40px no-repeat;
    background-size: 101%;
}
#logo img {
	margin-top: 5%;
	height: 90%;
}
#logo .scanlines {
	top: -2px;
	left: -2px;
	width: 200px;
    height: 120px;
}



#panel-content #track-info {
	position: relative;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	border: 3px double #66c8ff;
	box-shadow: 0 0 12px #66c8ff;
	margin-bottom: 8px;
	text-align: center;
	height: 200px;
	color: #fff;
}
#track-info a{
	display: block;
    box-sizing: border-box;
	position: absolute;
	padding: 10px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
    overflow: hidden;
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
#track-info .track-cover, #track-info .track-title, #track-info .track-artist {
	display: block;
	line-height: 1.2;
}
#track-info .scanlines {
	top: -2px;
	left: -2px;
	width: 200px;
	height: 200px;
}





#panel-content #control {
	margin-bottom: 20px;
}
#panel-content #control:after{
	content: ' ';
	display: block;
	clear: both;
}

#control .control-button {
	display: block;
	position: relative;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	border: 3px double #66c8ff;
	box-shadow: 0 0 12px #66c8ff;
	cursor: pointer;
	width: 44px;
	height: 44px;
	text-align: center;
	float: left;
	margin-right: 8px;
}
#control .control-button:active{
	border-style: inset;
}
#control .control-button:first-child {
}
#control .control-button:last-child {
	margin-right: 0;
}
#control .control-button .scanlines {
	top: -2px;
	left: -2px;
	width: 44px;
	height: 44px;
	transition: .3s;
}

#control i {
    font-size: 18px;
    line-height: 40px;
	color: #fff;
	background: rgba(241,231,103,1);
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(50%, rgba(254,182,69,1)), color-stop(100%, rgba(241,231,103,1)));
	background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%);
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(241,231,103,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e767', GradientType=0 );
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	text-shadow: 0 0 10px rgba(241,231,103,1);
}
#control i:hover {
	background: #fff;
	-webkit-background-clip: text;
	background-clip: text;
}
#control:hover .scanlines{
	opacity: .7;
}
#control span {
	display: none;
}




#panel-content #credits {
	box-sizing: border-box;
	position: relative;
	background: rgba(0,0,0,.2);
	border: 3px double #66c8ff;
	box-shadow: 0 0 12px #66c8ff;
	width: 200px;
	height: 160px;
	text-align: center;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
	text-shadow: 0 0 8px rgba(255,255,255,.8);
	font-size: 80%;
}
#credits .scanlines {
	height: 160px;
	width: 200px;
	position: absolute;
	top: -2px;
	left: -2px;
}
#credits a{
	text-decoration: none;
	color: #fff;
}
#credits .credit-header {
	margin-bottom: 14px;
}
#credits .credit-icons {
	margin-bottom: 14px;
}
#credits .credit-icons a {
	margin: 0 10px;
}
#credits .credit-icons img {
	height: 40px;
}
#credits .credit-creator {
	margin-bottom: 5px;
}
#credits .credit-copyright {
	font-size: 80%;
}


.scanlines {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: url('assets/scanline-overlay.png') top left repeat;
	display: block;
	z-index: 50000;
}


#player-gif-paused {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
    z-index: 3000;
    text-align: center;
    opacity: 1;
    color: #fff;
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
#player-gif-paused.hide {
	display: none;
}
#player-gif-pause-content{
    padding-top: 80px;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}


#mobile-tap-to-start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.7);
    z-index: 10000;
    text-align: center;
    opacity: 1;
    color: #fff;
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
#mobile-tap-to-start-content{
    padding-top: 80px;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}

.player-gif-container {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	transition: .5s;
}

.player-gif-container video, .player-gif-container img{
    position: fixed;
    top: 25%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-25%);
    -moz-transform: translateX(-50%) translateY(-25%);
    -webkit-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
    background-size: cover;
}


#player-gif-1 {
	z-index: 1000;
	opacity: 0;
}
#player-gif-1.active {
	opacity: 1;
}

#player-gif-2 {
	z-index: 500;
}


#secret-config-button {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 20px;
	display: block;
	z-index: 5100;
}

#secretconfig {
	z-index: 5000;
    width: 400px;
    height: 100%;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
}
#secretconfig.hide {
	display: none;
}
#secretconfig #search-tags {
	width: 100%;
	height: 200px;
}
#secretconfig button {
	display: block;
}
#playlist-input{
	width: 100%;
}